In [5]:
import toolsets.auto_rt_pred as auto_fit
import numpy as np
import pandas as pd
%load_ext autoreload
%autoreload 2
test_data = pd.read_csv("Combined dataset.csv")
data_hilic = test_data.loc[test_data['Column'] == 'HILIC']
data_hilic.head()

Hi I am compiled version of the rt prediction using autogluon and mordred descriptor calculator
the usage is auto_rt_pred_with_autogluon(data, ignore_3d_label, savepath)
the data is a dataframe with columns smiles, retention_time, and split split_index (1 training, 2 test)
this function will returns a model

,Compound_name,Column,Organic_modifier,pH,Buffer,SMILES,RT
22,1-hydroxypyrene,HILIC,Acetonitrile,2.7,Formic acid,c1cc2ccc3ccc(c4ccc(c1)c2c34)O,1.822857
23,1-hydroxypyrene,HILIC,Acetonitrile,3.0,Acetic acid,c1cc2ccc3ccc(c4ccc(c1)c2c34)O,12.321429
24,1-hydroxypyrene,HILIC,Acetonitrile,3.0,Formic acid,c1cc2ccc3ccc(c4ccc(c1)c2c34)O,1.857143
25,1-hydroxypyrene,HILIC,Acetonitrile,5.0,Acetic acid,c1cc2ccc3ccc(c4ccc(c1)c2c34)O,1.850000
26,1-hydroxypyrene,HILIC,Acetonitrile,5.0,Formic acid,c1cc2ccc3ccc(c4ccc(c1)c2c34)O,1.851429

In [6]:
auto_fit.make_split_index(data_hilic)

,Compound_name,Column,Organic_modifier,pH,Buffer,SMILES,RT,split_index
22,1-hydroxypyrene,HILIC,Acetonitrile,2.7,Formic acid,c1cc2ccc3ccc(c4ccc(c1)c2c34)O,1.822857,1
23,1-hydroxypyrene,HILIC,Acetonitrile,3.0,Acetic acid,c1cc2ccc3ccc(c4ccc(c1)c2c34)O,12.321429,1
24,1-hydroxypyrene,HILIC,Acetonitrile,3.0,Formic acid,c1cc2ccc3ccc(c4ccc(c1)c2c34)O,1.857143,1
25,1-hydroxypyrene,HILIC,Acetonitrile,5.0,Acetic acid,c1cc2ccc3ccc(c4ccc(c1)c2c34)O,1.850000,1
26,1-hydroxypyrene,HILIC,Acetonitrile,5.0,Formic acid,c1cc2ccc3ccc(c4ccc(c1)c2c34)O,1.851429,1
...,...,...,...,...,...,...,...,...
2956,Valsartan,HILIC,Acetonitrile,5.0,Formic acid,CCCCC(=O)N(Cc1ccc(cc1)c1ccccc1c1n[nH]nn1)[C@@H...,3.177143,1
2957,Valsartan,HILIC,Methanol,2.7,Formic acid,CCCCC(=O)N(Cc1ccc(cc1)c1ccccc1c1n[nH]nn1)[C@@H...,1.808571,1
2958,Valsartan,HILIC,Methanol,3.0,Formic acid,CCCCC(=O)N(Cc1ccc(cc1)c1ccccc1c1n[nH]nn1)[C@@H...,1.790000,1
2959,Valsartan,HILIC,Methanol,5.0,Acetic acid,CCCCC(=O)N(Cc1ccc(cc1)c1ccccc1c1n[nH]nn1)[C@@H...,1.433333,1
2960,Valsartan,HILIC,Methanol,5.0,Formic acid,CCCCC(=O)N(Cc1ccc(cc1)c1ccccc1c1n[nH]nn1)[C@@H...,1.463333,1

In [7]:
auto_fit.pre_process_data(data_hilic)

no smiles code in this dataset

,compound_name,column,organic_modifier,ph,buffer,smiles,rt,split_index
22,1-hydroxypyrene,HILIC,Acetonitrile,2.7,Formic acid,c1cc2ccc3ccc(c4ccc(c1)c2c34)O,1.822857,1
23,1-hydroxypyrene,HILIC,Acetonitrile,3.0,Acetic acid,c1cc2ccc3ccc(c4ccc(c1)c2c34)O,12.321429,1
24,1-hydroxypyrene,HILIC,Acetonitrile,3.0,Formic acid,c1cc2ccc3ccc(c4ccc(c1)c2c34)O,1.857143,1
25,1-hydroxypyrene,HILIC,Acetonitrile,5.0,Acetic acid,c1cc2ccc3ccc(c4ccc(c1)c2c34)O,1.850000,1
26,1-hydroxypyrene,HILIC,Acetonitrile,5.0,Formic acid,c1cc2ccc3ccc(c4ccc(c1)c2c34)O,1.851429,1
...,...,...,...,...,...,...,...,...
2956,Valsartan,HILIC,Acetonitrile,5.0,Formic acid,CCCCC(=O)N(Cc1ccc(cc1)c1ccccc1c1n[nH]nn1)[C@@H...,3.177143,1
2957,Valsartan,HILIC,Methanol,2.7,Formic acid,CCCCC(=O)N(Cc1ccc(cc1)c1ccccc1c1n[nH]nn1)[C@@H...,1.808571,1
2958,Valsartan,HILIC,Methanol,3.0,Formic acid,CCCCC(=O)N(Cc1ccc(cc1)c1ccccc1c1n[nH]nn1)[C@@H...,1.790000,1
2959,Valsartan,HILIC,Methanol,5.0,Acetic acid,CCCCC(=O)N(Cc1ccc(cc1)c1ccccc1c1n[nH]nn1)[C@@H...,1.433333,1
2960,Valsartan,HILIC,Methanol,5.0,Formic acid,CCCCC(=O)N(Cc1ccc(cc1)c1ccccc1c1n[nH]nn1)[C@@H...,1.463333,1

In [8]:
hilic_descriptors = auto_fit.make_descriptors(data_hilic)
hilic_descriptors.head()

,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,14.008885,10.537147,0,0,23.372976,2.54742,5.09484,23.372976,1.374881,3.826456,...,10.190582,51.083298,218.073165,8.076784,428,33,100.0,125.0,4.027778,3.583333
1,14.008885,10.537147,0,0,23.372976,2.54742,5.09484,23.372976,1.374881,3.826456,...,10.190582,51.083298,218.073165,8.076784,428,33,100.0,125.0,4.027778,3.583333
2,14.008885,10.537147,0,0,23.372976,2.54742,5.09484,23.372976,1.374881,3.826456,...,10.190582,51.083298,218.073165,8.076784,428,33,100.0,125.0,4.027778,3.583333
3,14.008885,10.537147,0,0,23.372976,2.54742,5.09484,23.372976,1.374881,3.826456,...,10.190582,51.083298,218.073165,8.076784,428,33,100.0,125.0,4.027778,3.583333
4,14.008885,10.537147,0,0,23.372976,2.54742,5.09484,23.372976,1.374881,3.826456,...,10.190582,51.083298,218.073165,8.076784,428,33,100.0,125.0,4.027778,3.583333

In [9]:
# data_hilic.set_index(hilic_descriptors.index)
hilic_descriptors.insert(0, "smiles", data_hilic['smiles'])
hilic_descriptors.insert(1, "retention_time", data_hilic['rt'])
hilic_descriptors.insert(2, "split_index", data_hilic['split_index'])
hilic_descriptors.head()

,smiles,retention_time,split_index,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,NaN,NaN,NaN,14.008885,10.537147,0,0,23.372976,2.54742,5.09484,...,10.190582,51.083298,218.073165,8.076784,428,33,100.0,125.0,4.027778,3.583333
1,NaN,NaN,NaN,14.008885,10.537147,0,0,23.372976,2.54742,5.09484,...,10.190582,51.083298,218.073165,8.076784,428,33,100.0,125.0,4.027778,3.583333
2,NaN,NaN,NaN,14.008885,10.537147,0,0,23.372976,2.54742,5.09484,...,10.190582,51.083298,218.073165,8.076784,428,33,100.0,125.0,4.027778,3.583333
3,NaN,NaN,NaN,14.008885,10.537147,0,0,23.372976,2.54742,5.09484,...,10.190582,51.083298,218.073165,8.076784,428,33,100.0,125.0,4.027778,3.583333
4,NaN,NaN,NaN,14.008885,10.537147,0,0,23.372976,2.54742,5.09484,...,10.190582,51.083298,218.073165,8.076784,428,33,100.0,125.0,4.027778,3.583333